# Übungssession zu Pandas

Erinnerung: https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

In [1]:
import numpy as np
import pandas as pd

In [2]:
LEGO = pd.read_csv("ressources/LEGO.csv")
LEGO.head(3)

,name,theme,product_code,ages,piece_count,vip_points,price,dimension_1,dimension_2,dimension_3,url,date
0,Cheops-Pyramide,Architecture,21058,18+,1476.0,1050.0,139.99,NaN,NaN,NaN,/de-de/product/great-pyramid-of-giza-21058,2022-09-19
1,Taj Mahal,Architecture,21056,18+,2022.0,900.0,119.99,"H: 8"" (20cm)","B: 10"" (23cm)","T: 10"" (23cm)",/de-de/product/taj-mahal-21056,2022-09-19
2,Das Weiße Haus,Architecture,21054,18+,1483.0,750.0,99.99,NaN,NaN,NaN,/de-de/product/the-white-house-21054,2022-09-19

### Frage 1: Preise
Ziel: Wie oft kommen (bei den aktuellen Modellen) die unterschiedlichen Preise jeweils vor? Sortieren Sie die Preise nach ihrer Häufigkeit.

### Einschub

Bisher hatten wir Split-Apply-Combine in einer relativ einfachen Form gesehen.
Meist wurde nach der Gruppierung eine Spalte ausgewählt und darauf eine Aggregationsfunktion angewandt.
Grundsätzlich kann man auch beliebige Funktionen auf die jeweiligen SubDataFrames anwenden.

### Frage 2: Teure Modelle

Ziel: Die Gesamttabelle (nur die aktuellen Modelle) soll eingeschränkt werden, so dass für jedes Thema nur die drei teuersten Modelle enthalten sind.

### Einschub

Mit filter() kann man ganze Gruppen entfernen, sofern sie ein Kriterium nicht erfüllen

Mit transform() kann man eine Funktion aufrufen aber die Form der ursprünglichen Spalte belassen.
Dies ist meist hilfreich wenn man einen aggregierten Wert über alle Zeilen verteilen möchte, von denen er stammt.

### Frage 3: Neue Modelle

Ziel: Welche Sets sind im aktuellen Halbjahr neu hinzugekommen?

### Frage 4: Schwierigkeitsgrad

(Wir betrachten nur die aktuellen Sets.)
Die Altersklasse gibt bereits eine gewisse Auskunft über den Schwierigkeitsgrad eines Sets. Aber wie verhalten sich diese untereinander?
Für jedes Modell soll ein Score ermittelt werden, der angibt wie schwierig es im Vergleich zu anderen Modellen der jeweiligen Altersklasse ist.