# Übungssession zu Pandas

Erinnerung: https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

In [5]:
import numpy as np
import pandas as pd

In [6]:
LEGO = pd.read_csv("./ressources/LEGO.csv")
LEGO.head(3)

,name,theme,product_code,ages,piece_count,vip_points,price,dimension_1,dimension_2,dimension_3,url,date
0,Cheops-Pyramide,Architecture,21058,18+,1476.0,1050.0,139.99,NaN,NaN,NaN,/de-de/product/great-pyramid-of-giza-21058,2022-09-19
1,Taj Mahal,Architecture,21056,18+,2022.0,900.0,119.99,"H: 8"" (20cm)","B: 10"" (23cm)","T: 10"" (23cm)",/de-de/product/taj-mahal-21056,2022-09-19
2,Das Weiße Haus,Architecture,21054,18+,1483.0,750.0,99.99,NaN,NaN,NaN,/de-de/product/the-white-house-21054,2022-09-19

### Frage 1: Preise
Ziel: Wie oft kommen (bei den aktuellen Modellen) die unterschiedlichen Preise jeweils vor? Sortieren Sie die Preise nach ihrer Häufigkeit.

In [15]:
LEGO[LEGO["date"] == "2022-09-19"].groupby("price").size().sort_values(ascending = False)

price
19.99     117
29.99      85
9.99       73
49.99      68
99.99      57
         ...
219.99      1
66.99       1
49.95       1
259.99      1
2.49        1
Length: 84, dtype: int64

### Einschub

Bisher hatten wir Split-Apply-Combine in einer relativ einfachen Form gesehen.
Meist wurde nach der Gruppierung eine Spalte ausgewählt und darauf eine Aggregationsfunktion angewandt.
Grundsätzlich kann man auch beliebige Funktionen auf die jeweiligen SubDataFrames anwenden.

In [8]:
def some_stats(subdf):
    rows = subdf.shape[0]
    num_ages = subdf["ages"].nunique()
    num_prices = subdf["price"].nunique()
    total_price = subdf["price"].sum()
    return pd.Series([rows, num_ages, num_prices, total_price], index= ["num_sets", "num_ages", "num_prices", "total_price"])

LEGO[LEGO["date"]=="2022-09-19"].groupby("theme").apply(some_stats).sort_values("total_price", ascending = False)

                                num_sets  num_ages  num_prices  total_price
theme
Star Wars™                          89.0      12.0        31.0      7722.11
LEGO® Icons™                        29.0       2.0        17.0      5979.71
Technic                             38.0       8.0        22.0      5239.62
Harry Potter™                       50.0       9.0        22.0      4000.50
City                                88.0       6.0        25.0      3966.12
Ideas                               17.0       3.0        10.0      2969.83
LEGO® Super Mario™                  36.0       5.0        19.0      2764.54
NINJAGO®                            50.0       9.0        18.0      2678.50
DUPLO®                              53.0       5.0        15.0      2612.47
Friends                             53.0       5.0        15.0      2574.47
Marvel                              40.0       8.0        17.0      2454.60
Disney™                             49.0      10.0        19.0      2349.51
LEGO® Education                     12.0       5.0        11.0      2227.88
Monkie Kid™                         24.0       6.0        16.0      1952.76
SERIOUS PLAY®                        4.0       1.0         4.0      1644.96
Creator Expert                       8.0       4.0         7.0      1339.92
Minecraft®                          28.0       3.0        14.0      1246.72
Creator 3-in-1-Sets                 29.0       5.0        13.0      1102.71
DC                                  14.0       5.0        10.0       861.86
Jurassic World™                     17.0       7.0        10.0       858.83
Classic                             28.0       4.0        13.0       852.22
DOTS                                44.0       3.0        13.0       775.56
Art                                  7.0       3.0         6.0       736.93
Architecture                         9.0       3.0         6.0       719.91
Spider-Man                          21.0       6.0        11.0       609.79
BrickHeadz                          32.0       3.0         7.0       585.68
Minifiguren                         27.0       7.0        13.0       468.69
VIDIYO™                             14.0       3.0         6.0       444.86
Speed Champions                     13.0       3.0         6.0       424.87
Powered UP                          12.0       2.0         8.0       422.88
MINDSTORMS®                          1.0       1.0         1.0       359.99
LEGO® Avatar                         4.0       2.0         4.0       349.96
Minions                              7.0       3.0         6.0       171.93
BOOST                                1.0       1.0         1.0       169.99
Batman™                              4.0       3.0         3.0       154.96
Die Eiskönigin                       5.0       2.0         4.0       116.95
Sonstiges                            2.0       2.0         2.0       107.98
Lightyear von Disney und Pixar       3.0       3.0         3.0       104.97
Disney Mickey and Friends            3.0       1.0         3.0        99.97
Stranger Things                      2.0       2.0         2.0        25.98
Brick Sketches™                      1.0       1.0         1.0        16.99
Xtra                                 2.0       1.0         2.0        12.98

### Frage 2: Teure Modelle

Ziel: Die Gesamttabelle (nur die aktuellen Modelle) soll eingeschränkt werden, so dass für jedes Thema nur die drei teuersten Modelle enthalten sind.

In [16]:
(LEGO[LEGO["date"] == "2022-09-19"]
    .groupby("theme")
    .apply(lambda subdf: subdf.sort_values("price", ascending = False).iloc[0:3])
    .reset_index(drop = True))

,name,theme,product_code,ages,piece_count,vip_points,price,dimension_1,dimension_2,dimension_3,url,date,meanprice_in_theme,occurences
0,Cheops-Pyramide,Architecture,21058,18+,1476.0,1050.0,139.99,NaN,NaN,NaN,/de-de/product/great-pyramid-of-giza-21058,2022-09-19,73.438276,1
1,Taj Mahal,Architecture,21056,18+,2022.0,900.0,119.99,"H: 8"" (20cm)","B: 10"" (23cm)","T: 10"" (23cm)",/de-de/product/taj-mahal-21056,2022-09-19,73.438276,3
2,Das Weiße Haus,Architecture,21054,18+,1483.0,750.0,99.99,NaN,NaN,NaN,/de-de/product/the-white-house-21054,2022-09-19,73.438276,3
3,Weltkarte,Art,31203,18+,11695.0,1875.0,249.99,"H: 26"" (65cm)","B: 41"" (104cm)",NaN,/de-de/product/world-map-31203,2022-09-19,123.656667,3
4,The Rolling Stones,Art,31206,18+,1998.0,1125.0,149.99,NaN,NaN,NaN,/de-de/product/the-rolling-stones-31206,2022-09-19,123.656667,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,Boombox,VIDIYO™,43115,9+,996.0,525.0,99.99,"H: 7"" (16cm)","B: 14"" (35cm)","T: 10"" (23cm)",/de-de/product/the-boombox-43115,2022-09-19,30.558182,3
113,Punk Pirate Ship,VIDIYO™,43114,8+,615.0,367.0,69.99,"H: 8"" (19cm)","B: 8"" (18cm)","T: 10"" (24cm)",/de-de/product/punk-pirate-ship-43114,2022-09-19,30.558182,3
114,K-Pawp Concert,VIDIYO™,43113,8+,514.0,262.0,49.99,"H: 6"" (13cm)","B: 12"" (30cm)","T: 6"" (14cm)",/de-de/product/k-pawp-concert-43113,2022-09-19,30.558182,3
115,Wasser-Klebeband,Xtra,854065,6+,23.0,67.0,8.99,NaN,NaN,NaN,/de-de/product/water-tape-854065,2022-09-19,5.353636,3
116,Sportzubehör,Xtra,40375,6+,36.0,30.0,3.99,NaN,NaN,NaN,/de-de/product/sports-accessories-40375,2022-09-19,5.353636,3

### Einschub

Mit filter() kann man ganze Gruppen entfernen, sofern sie ein Kriterium nicht erfüllen.

In [10]:
LEGO.groupby("theme").filter(lambda subdf: len(subdf) <= 2)

,name,theme,product_code,ages,piece_count,vip_points,price,dimension_1,dimension_2,dimension_3,url,date
609,Iron Man,Brick Sketches™,40535,8+,200.0,127.0,16.99,NaN,NaN,NaN,/de-de/product/iron-man-40535,2022-09-19
1032,Iron Man,Brick Sketches™,40535,8+,200.0,127.0,16.99,NaN,NaN,NaN,/de-de/product/iron-man-40535,2022-03-22

Mit transform() kann man eine Funktion aufrufen aber die Form der ursprünglichen Spalte belassen.
Dies ist meist hilfreich wenn man einen aggregierten Wert über alle Zeilen verteilen möchte, von denen er stammt.

In [11]:
LEGO["meanprice_in_theme"] = LEGO.groupby("theme")["price"].transform("mean")
LEGO.head()

,name,theme,product_code,ages,piece_count,vip_points,price,dimension_1,dimension_2,dimension_3,url,date,meanprice_in_theme
0,Cheops-Pyramide,Architecture,21058,18+,1476.0,1050.0,139.99,NaN,NaN,NaN,/de-de/product/great-pyramid-of-giza-21058,2022-09-19,73.438276
1,Taj Mahal,Architecture,21056,18+,2022.0,900.0,119.99,"H: 8"" (20cm)","B: 10"" (23cm)","T: 10"" (23cm)",/de-de/product/taj-mahal-21056,2022-09-19,73.438276
2,Das Weiße Haus,Architecture,21054,18+,1483.0,750.0,99.99,NaN,NaN,NaN,/de-de/product/the-white-house-21054,2022-09-19,73.438276
3,Freiheitsstatue,Architecture,21042,16+,1685.0,750.0,99.99,NaN,NaN,NaN,/de-de/product/statue-of-liberty-21042,2022-09-19,73.438276
4,Singapur,Architecture,21057,18+,827.0,450.0,59.99,NaN,NaN,NaN,/de-de/product/singapore-21057,2022-09-19,73.438276

### Frage 3: Neue Modelle

Ziel: Welche Modelle sind im aktuellen Halbjahr neu hinzugekommen?

In [12]:
df = LEGO.groupby("product_code").filter(lambda subdf: (len(subdf) == 1) & np.any(subdf["date"] == "2022-09-19"))
df.head()

,name,theme,product_code,ages,piece_count,vip_points,price,dimension_1,dimension_2,dimension_3,url,date,meanprice_in_theme
0,Cheops-Pyramide,Architecture,21058,18+,1476.0,1050.0,139.99,NaN,NaN,NaN,/de-de/product/great-pyramid-of-giza-21058,2022-09-19,73.438276
9,Batman™ vs. Harley Quinn™,Batman™,76220,4+,42.0,112.0,14.99,NaN,NaN,NaN,/de-de/product/batman-versus-harley-quinn-76220,2022-09-19,30.899091
29,Die Professoren von Hogwarts™,BrickHeadz,40560,10+,601.0,300.0,39.99,NaN,NaN,NaN,/de-de/product/professors-of-hogwarts-40560,2022-09-19,16.885349
34,FC Barcelona – Go Brick Me,BrickHeadz,40542,10+,530.0,150.0,19.99,NaN,NaN,NaN,/de-de/product/fc-barcelona-go-brick-me-40542,2022-09-19,16.885349
36,Manchester United – Go Brick Me,BrickHeadz,40541,10+,530.0,150.0,19.99,NaN,NaN,NaN,/de-de/product/manchester-united-go-brick-me-4...,2022-09-19,16.885349

In [13]:
LEGO["occurences"] = LEGO.groupby("product_code")["date"].transform(len)
LEGO[(LEGO["occurences"] == 1) & (LEGO["date"] == "2022-09-19")].head()

,name,theme,product_code,ages,piece_count,vip_points,price,dimension_1,dimension_2,dimension_3,url,date,meanprice_in_theme,occurences
0,Cheops-Pyramide,Architecture,21058,18+,1476.0,1050.0,139.99,NaN,NaN,NaN,/de-de/product/great-pyramid-of-giza-21058,2022-09-19,73.438276,1
9,Batman™ vs. Harley Quinn™,Batman™,76220,4+,42.0,112.0,14.99,NaN,NaN,NaN,/de-de/product/batman-versus-harley-quinn-76220,2022-09-19,30.899091,1
29,Die Professoren von Hogwarts™,BrickHeadz,40560,10+,601.0,300.0,39.99,NaN,NaN,NaN,/de-de/product/professors-of-hogwarts-40560,2022-09-19,16.885349,1
34,FC Barcelona – Go Brick Me,BrickHeadz,40542,10+,530.0,150.0,19.99,NaN,NaN,NaN,/de-de/product/fc-barcelona-go-brick-me-40542,2022-09-19,16.885349,1
36,Manchester United – Go Brick Me,BrickHeadz,40541,10+,530.0,150.0,19.99,NaN,NaN,NaN,/de-de/product/manchester-united-go-brick-me-4...,2022-09-19,16.885349,1

### Frage 4: Schwierigkeitsgrad

(Wir betrachten nur die aktuellen Sets.)
Die Altersklasse gibt bereits eine gewisse Auskunft über den Schwierigkeitsgrad eines Sets. Aber wie verhalten sich diese untereinander?
Für jedes Modell soll ein Score ermittelt werden, der angibt wie schwierig es im Vergleich zu anderen Modellen der jeweiligen Altersklasse ist.

In [14]:
LEGO_current = LEGO[LEGO["date"] == "2022-09-19"].copy()
LEGO_current["mean_pieces"] = LEGO_current.groupby("ages")["piece_count"].transform("median")
LEGO_current["rel_complexity"] = LEGO_current["piece_count"] / LEGO_current["mean_pieces"]
LEGO_current.head()

,name,theme,product_code,ages,piece_count,vip_points,price,dimension_1,dimension_2,dimension_3,url,date,meanprice_in_theme,occurences,mean_pieces,rel_complexity
0,Cheops-Pyramide,Architecture,21058,18+,1476.0,1050.0,139.99,NaN,NaN,NaN,/de-de/product/great-pyramid-of-giza-21058,2022-09-19,73.438276,1,1872.0,0.788462
1,Taj Mahal,Architecture,21056,18+,2022.0,900.0,119.99,"H: 8"" (20cm)","B: 10"" (23cm)","T: 10"" (23cm)",/de-de/product/taj-mahal-21056,2022-09-19,73.438276,3,1872.0,1.080128
2,Das Weiße Haus,Architecture,21054,18+,1483.0,750.0,99.99,NaN,NaN,NaN,/de-de/product/the-white-house-21054,2022-09-19,73.438276,3,1872.0,0.792201
3,Freiheitsstatue,Architecture,21042,16+,1685.0,750.0,99.99,NaN,NaN,NaN,/de-de/product/statue-of-liberty-21042,2022-09-19,73.438276,3,2504.0,0.672923
4,Singapur,Architecture,21057,18+,827.0,450.0,59.99,NaN,NaN,NaN,/de-de/product/singapore-21057,2022-09-19,73.438276,2,1872.0,0.441774